

.users{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 15px;
    background: #777;
    border-radius: 3px;
}

.ava{
    width: 20%;
    text-align: center;
}
.ava img{
    width: 100px;
}
.ava button{
    outline: none;
    border: rgba(0, 0, 0, 0.7) 0.02px solid;
    border-radius: 5px;
}

.description{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.status{
    font-style: italic;
}


.selectedPage {
    font-weight: bold;
    color: orangered;
    border-bottom: orangered 3px solid;
}


.pagination_block{
    margin: 10px auto 0 auto;
    max-width: 200px;
    background: #eee;
    padding: 5px 5px 10px 5px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    border-radius: 10px;
    font-size: 17px;
}
.pagination_block::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.pagination_block span{
    margin: 0 5px;
    cursor: pointer;
}
