.nav {
    grid-area: n;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 10px;
    margin-right: 5px;
    height: fit-content;
    border-radius: 5px;
    font-size: 17px;

}



.item a {
    color: white;
    text-decoration: none;
}

.item .activeLink{
    color: gold;
}


.linkLine{
    display: flex;
    align-items: center;
    padding: 5px;
    margin-top: 2px;
}

.linkLine:hover{
    border-radius: 3px;
    background-color: #777777;
}

@media (max-width: 787px) {
    .nav {
        padding: 7px;
        margin-right: 5px;
        border-radius: 5px;
        font-size: 16px;
    }
}