.descriptionBlock {
    display: flex;
    align-items: center;
    padding: 10px;
}

.ava{
    width: 200px;
    border-radius: 50%;
}
.description{
    margin-left: 15px;
}

.contacts{
    display: flex;
    align-items: center;
}
.contacts img{
    width: 35px;
    margin: 0 2px;
}
.aboutMe p{
    font-weight: bold;
}

@media (max-width: 787px) {
    .ava{
        width: 120px;
    }
    .description{
        max-width: 100%;
        margin-left: 5px;
    }
    .userName{
        font-size: 19px;
    }
}