
.app{
    background-color: rgba(0, 0, 0, 0.84);
    width: 100%;
    min-height: 100vh;
}

.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 70%;
    grid-template-areas: "h h" "n c";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    /* grid-gap: 10px; */
}

.app-wrapper-content {
    grid-area: c;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    margin-bottom: 100px;
    padding: 10px;

}
@media (max-width: 1200px) {
    .app-wrapper{
        width: 80%
    }
    .app-wrapper-content{
        padding: 8px;
    }
}

@media (max-width: 960px) {
    .app-wrapper{
        width: 90%
    }
    .app-wrapper-content{
        padding: 6px;
    }
}

@media (max-width: 787px) {
    .app-wrapper{
        width: 98%
    }
    .app-wrapper-content{
        padding: 4px;
    }
}




