.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

/*message items*/

.messagesItem {
    width: auto;
    height: 500px;
    margin-left: 5px;
    font-size: 17px;
}

.messagesItem .message {
    width: fit-content;
    padding: 3px 8px;
    color: black;
    background-color: darkgray;
    margin-top: 3px;
    border-radius: 15px;
}

/* MESSAGE WINDOW*/

.massagesWindow {
    width: auto;
    height: 88%;
    padding: 5px 10px;
    background: rgba(88, 88, 88, 9) url("../../assets/images/Whatsapp-Wallpaper-120.jpg");
    background-size: cover;
    border-radius: 5px 5px 0 0;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.massagesWindow::-webkit-scrollbar {
    width: 5px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background-color: transparent;
}

.massagesWindow::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 9em 0 0 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
}

.addMessageBlock {
    width: auto;
    display: flex;
    align-items: center;
    background: rgba(88, 88, 88, 9);
    padding: 5px 10px;
    border-radius: 0 0 5px 5px;
    border: black 1px solid;
}

/*DIALOGS ITEMS ACTIVE LINKS*/

.dialogsItems a {
    color: whitesmoke;
    text-decoration: none;
}

.dialogsItems .activeLink {
    color: gold;
}

.dialogsItems .activeLink .userLine {
    background-color: #7e7e7e;
    border-radius: 5px;
}


.userLine {
    display: flex;
    align-items: center;
}

.userLine:hover {
    border-radius: 5px;
    background-color: #3c3636;
}

.userImages {
    width: 50px;
    margin-right: 7px;
}

@media (max-width: 960px) {
    .userImages {
        width: 45px;
        margin-right: 4px;
    }
}

@media (max-width: 787px) {
    .userImages {
        width: 35px;
        margin-right: 4px;
    }
}